:root {
  --nuetral-color: rgb(238, 238, 238);
  --include-color: rgb(117, 171, 122);
  --exclude-color: rgb(195, 130, 120);

  --left-highlight: #d60270;
  --right-highlight: #0038a8;

  --tag-font: Garamond, 'Times New Roman';

  --button-color:
  /* f4ece5 */

  html, body {
    height: 100vh; 
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #e6ded6; 
  }


}