:root {
  --nuetral-color: none;
  --include-color: #6b7c5e;
  --exclude-color: #8b5c5c;

  --left-highlight: #722f37;
  --right-highlight: #c2575d;

  --font-color: #2a2118;

  --background-color: #ebebeb;

  --font: Garamond, 'EB Garamond', 'Times New Roman', Times, serif;
  /* 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* Garamond, 'EB Garamond', 'Times New Roman', Times, serif; */

  /* f4ece5 */

  html, body {
    height: 100vh; 
    margin: 0;
    padding: 0;
  }

  body {
    background-color: var(--background-color); 
  }


}