:root {
  --nuetral-color: rgb(238, 238, 238);
  --include-color: rgb(117, 171, 122);
  --exclude-color: rgb(195, 130, 120);

  --left-highlight: #d60270;
  --right-highlight: #0038a8;

  /* --tag-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */


}